<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>freelance</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>login.html</welcome-file>
    <welcome-file>login.htm</welcome-file>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>FreelancerHome.html</welcome-file>
    <welcome-file>FreelancerHome.htm</welcome-file>
    <welcome-file>FreelancerHome.jsp</welcome-file>
    <welcome-file>postuler.html</welcome-file>
    <welcome-file>postuler.htm</welcome-file>
    <welcome-file>postuler.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>cs</servlet-name>
    <servlet-class>web.ControleurServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cs</servlet-name>
    <url-pattern>/controleur.php</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>cs1</servlet-name>
    <servlet-class>web.ControleurOffre</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cs1</servlet-name>
    <url-pattern>/offres.php</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>cs2</servlet-name>
    <servlet-class>web.ControleurPostulation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cs2</servlet-name>
    <url-pattern>/postulation</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>cs3</servlet-name>
    <servlet-class>web.ControleurAddPostulation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cs3</servlet-name>
    <url-pattern>/postuler.php</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>cs4</servlet-name>
    <servlet-class>web.Deconnexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cs4</servlet-name>
    <url-pattern>/disconnect</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>cs5</servlet-name>
    <servlet-class>web.ControllerLogIn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cs5</servlet-name>
    <url-pattern>/LogIn</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>cs7</servlet-name>
    <servlet-class>web_port.ControleurOffrep</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cs7</servlet-name>
    <url-pattern>/ControleurOffrep</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>cs8</servlet-name>
    <servlet-class>web_port.ControllerLogInp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cs8</servlet-name>
    <url-pattern>/LogInp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>cs9</servlet-name>
    <servlet-class>web_port.ControleurAddOffre</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cs9</servlet-name>
    <url-pattern>/ajouterOffre.php</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>cs10</servlet-name>
    <servlet-class>web_port.ControlerDeleteOffre</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cs10</servlet-name>
    <url-pattern>/DeleteOffre.php</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>cs11</servlet-name>
    <servlet-class>web_port.ControlerUpdateOffre</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cs11</servlet-name>
    <url-pattern>/updateOffre.php</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>cs12</servlet-name>
    <servlet-class>web_port.ControleurPostulationp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cs12</servlet-name>
    <url-pattern>/Postulationp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>cs13</servlet-name>
    <servlet-class>web.ControlerPostFreelancer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cs13</servlet-name>
    <url-pattern>/PostulationsFreelancer.php</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>cs14</servlet-name>
    <servlet-class>web.ControlerProfilF</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cs14</servlet-name>
    <url-pattern>/profilf.php</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>cs15</servlet-name>
    <servlet-class>web.ControlerUpload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cs15</servlet-name>
    <url-pattern>/upload.php</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>cs16</servlet-name>
    <servlet-class>web.ControlerProjetsFreelancer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cs16</servlet-name>
    <url-pattern>/ProjetsFreelancer.php</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>cs17</servlet-name>
    <servlet-class>web_port.ControlerValiderPost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cs17</servlet-name>
    <url-pattern>/validerPost.php</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>cs18</servlet-name>
    <servlet-class>web.ControlerOffreCat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cs18</servlet-name>
    <url-pattern>/offrecat.php</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>cs19</servlet-name>
    <servlet-class>web_port.ControlerProjetPorteur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cs19</servlet-name>
    <url-pattern>/ProjetsPorteur</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>cs20</servlet-name>
    <servlet-class>web_port.ControlerValiderProjet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cs20</servlet-name>
    <url-pattern>/ValiderProjet</url-pattern>
  </servlet-mapping>
</web-app>